numpy
torch
faiss-cpu
transformers==4.16.0
tensorboard
wandb>=0.12.21
SentencePiece
openai
seaborn
matplotlib
pandas
codebleu

tree-sitter==0.22.3
tree-sitter-python==0.21.0
tree-sitter-javascript==0.21.4
tree-sitter-java==0.21.0
tree-sitter-ruby==0.21.0
tree-sitter-go==0.21.2
tree-sitter-php==0.22.8
tree-sitter-c-sharp==0.21.3
tree-sitter-c==0.21.4
tree-sitter-cpp==0.22.3